body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Roboto, sans-serif;
	color: #dddddd;
	background-color: #000000;
}

a {
	color:  #00cccc;
	text-decoration: underline;
}

header {
	display: block;
	text-align: center;
	align-items: center;
	padding: 0;
	margin: 0;
	position: sticky;
	top: 0;
}
header > h1 {
	padding: 0;
	margin: 0;
	display: inline-block;
}
header > h1 > a {
	padding: 0.25em;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	color: #82CE81;
	text-decoration: none;
}
header > h1 > a:hover {
	background-color: #82CE81;
	color: #000000;
	border-radius: 15px;
}

nav {
	background-color: #222222;
	margin: 0;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	border: 0;
	display: block;
	align-items: center;
	text-align: center;
	font-weight: bold;
}

nav > a {
	display: inline-block;
	margin: 0;
	padding: 0.25em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 6em;
	font-size: 1.5em;
	align-items: center;
	text-align: center;
}

nav > a:hover {
	background-color:  #00cccc;
	color: #222222;
	border-radius: 15px;
}

main {
	display: block;
	background-color: #353535;
	padding: 3em;
	border: none;
	min-height: 70vh;
	font-size: 0.9em;
	text-align: justify;
	line-height: 2.5em;
}

article {
	padding: 0.5em;
}

article > h2 {
	font-size: 2em;
}

article > p {
	font-size: 1.5em;
}

a#discord-invite-link {
	display: block;
	padding-bottom: 1em;
	text-align: center;
}

iframe#discord-widget {
	display: inline-block;
}

p#about-discord-server {
	width: 780px;
	float: right;
	text-align: justify;
	font-size: 1.25em;
}

span.italic {
	font-style: italic;
}
span.bold {
	font-weight: bold;
}